<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor Clientes</h1>
        <button class="btn btn-success" type="button" name="button" on-click="obtenerClientes">Cargar clientes</button>
        <button class="btn btn-success" type="button" name="button" on-click="agregarCliente">Agregar cliente</button>

      </div>
      <div class="row">
        <table class="table table-striped">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
            <tr>
              <td>[[item.CustomerID]]</td>
              <td>[[item.ContactName]]</td>
              <td>[[item.CompanyName]]</td>

            </tr>
          </template>
          </tbody>
        </table>

      </div>


    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true,

          }
        };
      }
      obtenerClientes() {
        var request = new XMLHttpRequest();
        request.open('GET', 'https://services.odata.org/V4/Northwind/Northwind.svc/Customers', false);
        request.setRequestHeader('Accept', 'application/json');
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.table(this.clientes);
      }
      agregarCliente() {
        var request = new XMLHttpRequest();
        request.open('POST', 'https://services.odata.org/V4/Northwind/Northwind.svc/Customers', false);
        request.setRequestHeader('Accept', 'application/json');
        request.setRequestHeader('Content-Type', 'application/json');
        var nuevoCliente = {
          "CustomerID":"12345",
          "ContactName":"Pepe Le Puaj",
          "CompanyName":"Pepes",
        };

        request.send(JSON.stringify(nuevoCliente));
        console.log(request.responseText);
      }
    }



    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
