<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="local-visor">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/427/427735.svg" alt="">
      </div>
      <div class="row">
        <button class="btn btn-success" type="button" name="button" on-click="incrementar">Cargar datos</button>
        <input type="text" name="" placeholder="[[prop3]]" value="{{prop1::input}}">
        <input type="text" name="" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12" >
          <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
            <tr>
              <td>[[prop2]]</td>
              <td>2</td>
              <td>2</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LocalVisor extends Polymer.Element {
      static get is() { return 'local-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 42
          },
          prop3: {
            type: String,
            value: "indique su usuario"
          }
        };
      }
      incrementar() {
        ++this.prop2;
        console.log(this.prop1 );
        console.log(this.prop2);
      }
    }



    window.customElements.define(LocalVisor.is, LocalVisor);
  </script>
</dom-module>
